# Ignore large model/data files
*.pt
*.pth
*.bin
*.h5
*.zip
*.ta
*.tar.gz
*.npy
*.npz
*.pkl
*.onnx
.env

check.py
fix_names.py

# Ignore cache and environment folders
__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/
.idea/
.vscode/
# results/
outputs/
logs/
checkpoints/
dataset/
huggingface/
cache/
